* {
    font-family: sans-serif;
}

body{
    text-align: center;
}


.title{
    font-size: 40px;
    text-align: center;
    background: -webkit-linear-gradient(45deg, red,orange,blue);
    margin-top: 200px;
    margin-bottom: 10px;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cell{
    width: 230px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 190px;
    background-color: red;
}
p {
    font-family:serif;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    color: cornflowerblue;
}